
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
}

body {
  background: black;
}

h3 {
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  width: 97vw;
  color: white;
}

a {
				color: white;
				text-decoration: none;
}